.marquee {
    position: relative;
}

.marquee .background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.marquee .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.marquee .container {
    max-width: 83.4%;
    margin: 0 auto;
}

.marquee .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 360px;
}

.marquee .container .text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 40%;
}

.marquee .container .text p:first-of-type {
    font-size: var(--type-detail-m-size);
    text-transform: var(--type-detail-m-transform);
    line-height: var(--type-detail-m-transform);
}

.marquee .container .image {
    text-align: right;
}

.marquee .container div {
    flex: 1 1 auto;
}

.marquee .container img {
    object-fit: contain;
    height: 100%;
}
