:root {
    /* Typography */
    --type-detail-all-weight: 700;

    --type-detail-m-size: 12px;
    --type-detail-m-lh: 15px;
    --type-detail-m-transform: uppercase;

    --type-heading-all-weight: 700;

    --type-heading-xl-size: 36px;
    --type-heading-xl-lh: 45px;

    --type-body-m-size: 18px;
    --type-body-m-lh: 27px;

    /* Spacing */
    --spacing-mobile: 76px;

    /* Grid */
    --grid-mobile-container-width: 83.4%;
    --grid-desktop-container-width: 1200px;

    --query-mobile-max: 599px;
    --query-tablet-portrait-min: 600px;
    --query-tablet-portrait-max: 899px;
    --query-tablet-landscape-min: 900px;
    --query-tablet-landscape-max: 1199px;
    --query-desktop-min: 1200px;
    --query-desktop-max: 1440px;
}

body {
    margin: 0;
    font-family: adobe-clean, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, sans-serif;
}

/* Style Guide */

main > div > :is(h1, h2, h3, h4, h5, h6) {
    color: #212121;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    main > div > :is(h1, h2, h3, h4, h5, h6) {
        max-width: var(--grid-desktop-container-width);
    }
}

main > div > h1 {
    border-bottom: 1px solid rgba(33,33,33,.15);
    margin: 96px auto 0 auto;
}

main > div > h2 {
    margin: 72px auto 24px auto;
}

/* Block pre-loads */
div[class^='marquee'] {
    display: none;
    opacity: 0;
    transition: opacity .2s;
}
